body {
    font-family: "Roboto", sans-serif; 
    font-size: 16px;
    color:#434455;
    background-color:#FFFFFF;
    
  }

    /* Header */
  .header-link{
    color:#4d5ae5;
  }

  .menu-nav{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    color:#2E2F42;
    display:flex;
    gap: 50px;
    padding-left: 347px;
  }



  .top-container{
    padding-left: 156px;
    padding-top: 50px;
    height: 24px;
    display: inline;
    }
   



  .main-info{
    list-style-type: none;
  }
   


  .studio-logo{
    color:#2e2f42;
  }

  .accent{
    font-family:'Raleway',sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color:#4d5ae5;
    height: 21;

  }

  .studio-text{
    color:#2e2f42;
  }

  .text-header{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#2e2f42;
  }

  .text-header:hover{
    color:#404bbf;
  }

  .text-header:focus{
    color:#404bbf;
  }

  .address{
    font-style: normal;
    padding-left: 800px;
   
    
  } 


.ma-tel{
  text-decoration: none;
  color: #434455;
 
  
}


.ma-tel:hover{
  color:#404bbf;
}

.ma-tel:focus{
  color:#404bbf;

}


  .add-contacts{
    line-height: 1.5;
    list-style-type: none;
    letter-spacing: 0.02em;
     color:#434455;
     display:flex;
     gap: 24px;
  }

  .add-contacts:hover{
    color: #404bbf;
  }

  .add-contacts:focus{
    color: #404bbf;
  }


  /* Main Section 1 */

 .hero-section{
  background-color:#2e2f42 ;
  height:600px;
  width: 1440px;
  top: 72px;

 }
 
 .hero-title{
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color:#ffffff;
  width: 496px;
  padding-left: 472px;
  padding-top: 260px;
}

 .hero-button{
  font-family:"Roboto",sans-serif;
  line-height:1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  background-color:#4D5AE5;
  border-radius: 4px;
  padding:16px, 32px, 16px, 32px;
  text-align: center;
 }

 .hero-button:hover{
  background-color:#404BBF;
 }

 .hero-button:focus{
  background-color:#404BBF;
 }

 .button-click{
  top: 428px;
  padding-left: 636px;
  padding: 16px, 32px, 16px, 32px;
  border-radius: 4px;
  gap: 10px;

 }

/* Main Section 3 */

.benefit-title{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color:#2e2f42;
}

.section-title{
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color:#2e2f42;
  padding-top: 100px;
}

.all-info{
  list-style-type: none;
 
}

.benefit-text{
  line-height: 1.5;
  letter-spacing: 0.02em;
  color:#434455;
}


.work-list{
  display:flex;
  gap: 25px;
}

/* Main Section 3 */

.team-section{
  background-color:#F4F4FD;
  width: 1440px;
  height: 732px;
  top: 1016px;
}


.apps{
color:#2e2f42;
list-style-type: none;
top: 332px;
gap: 8px;
margin: auto;
padding-top:60px;
}

  .our-team{
    display: flex;
    gap: 50px;
    border: 1px;
    padding-top:60px;
    
  }

.team-card{
  list-style-type:none;
  background-color:#FFFFFF;
 text-align: center;
  
}

.person-name{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color:#2e2f42;
   
}

.person-job{
  line-height: 1.5;
  letter-spacing: 0.02em;
  color:#434455;
  font-size: 16px;
}

/* Main Section 4 */


.portfolio{
  display: flex;
  flex-wrap:wrap;
  gap: 50px;
  border: 1px;
}


.for-people{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color:#2e2f42;
}


.what-is-it{
  line-height: 1.5;
  letter-spacing: 0.02em;
  color:#434455;
}

/* Footer */

.footer{
  background-color:#2e2f42;
  width: 1440px;
  height: 312px;
  top: 2988px;
}

.footer-web{
    font-family:'Raleway',sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color:#4d5ae5; 
    padding-left: 264px;
}

.footer-text{
  width: 264px;
  height: 112px;
  top: 3088px;
  left: 156px;
  padding-left: 264px;
  padding-top: 24px;
  line-height: 1.5;
  color:#F4F4FD;
  letter-spacing: 0.02em;
}

.studio-logo-footer{
  color:#f4f4fd;
}

.footer-content{
 padding-top: 112px;
}

  